span.deep-orange-text {
  color: #FF5A09;
  font-weight: 400;
}

.row-silver {
  background: silver;
  padding-top: 45px;
}

.row-dark-grey {
  background: #262626;
  color: white;
  padding: 40px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.underline {
  font-weight: 900;
  position: relative;
  z-index: 2;
}

.underline:after {
  display: block;
  width: 100%;
  content: '';
  background: #ec7f37;
  position: absolute;
  height: 10px;
  left: 0;
  bottom: 10px;
  z-index: -1;
}

.register-form button.form-btn,
.login-form button.form-btn {
  color: #0c0c0e;
  border-color: #0c0c0e;
  background: #ec7f37;
  margin-top: 5px;
}

.register-form button.form-btn:hover,
.login-form button.form-btn:hover {
  color: #ec7f37;
  border-color: #ec7f37;
  background: #0c0c0e;
}