.col-apparel-heading {
  padding-left: 40px;
}

.col-search {
  text-align: right;
  padding-right: 40px;
  margin: auto;
}

.apparel-search {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
}