.row-register {
  padding-top: 20px;
  padding-bottom: 60px;
}

.row-register-heading {
  padding-bottom: 0px;
}

.register-form {
  text-align: center;
  padding-bottom: 17px;
}

.col-register {
  margin-top: 40px;
}

.register-form button.form-btn,
.login-form button.form-btn {
  color: #0c0c0e;
  border-color: #0c0c0e;
  background: #ec7f37;
  margin-top: 5px;
}

.register-form button.form-btn:hover,
.login-form button.form-btn:hover {
  color: #ec7f37;
  border-color: #ec7f37;
  background: #0c0c0e;
}