.create-form {
  text-align: center;
}

.row-create-form {
  padding-bottom: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 39px;
}

.price-container {
  width: 20%;
}

.create-btn {
  width: 25%;
  height: 45px;
}