.row-cart {
  padding: 20px 120px;
}

.table thead th {
  border-bottom: none;
  border-top: 1px solid grey;
}

.empty-cart-heading {
  padding-left: 120px;
}

.empty-cart-btn {
  color: white;
  background: #ec7f37;
  padding: 15px 50px;
  font-size: 20px;
  margin-left: 120px;
  margin-top: 40px;
}

.col-empty-cart {
  min-height: 493px;
}