.cart-heading {
  padding-left: 120px;
}

.cart-input {
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  text-align: center;
  width: 70px;
  background: transparent;
}

.table thead th {
  border-bottom: none;
}

.table td, .table th {
  border-top: 1px solid grey;
}

.row-table {
  padding: 20px 120px;
}

.checkout-row {
  padding-top: 0;
  min-height: calc(100vh - 582px);
}

.checkout-col {
  text-align: right;
}

.checkout-btn {
  color: white;
  background: #ec7f37;
  padding: 15px 50px;
  font-size: 20px;
  margin-right: 205px;
}