.row-dark-grey {
  background: #262626;
  color: white;
  padding: 40px;
}

.row-login-heading {
  padding-bottom: 0px;
}

.row-login {
  height: calc(100vh - 478px);
}

.form-group {
  width: 25%;
  margin: auto;
  margin-bottom: 20px;
  text-align: left;
}

.col-register, .col-login {
  text-align: center;
}

.login-form {
  text-align: center;
  padding-bottom: 75px;
}

.col-login {
  padding-top: 84px;
}